# Binaries
/bin/
/build/

# Go
/backend/*.exe
/backend/*.out

# Next
/frontend/node_modules/*

# Environment variables
/backend/.env
/frontend/.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

backend/internal/ai/clipmodels/
backend/internal/lib/

*.onnx
*.so
*.dll
*.dylib